*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  background-color: #add8e6;
  font-weight: 300;
}

header {
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  background-color: #fff;
  padding: 4rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  border-bottom-left-radius: 0rem;
  margin-bottom: 4rem;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.form-header h2 {
  color: #083e9e;
  /* letter-spacing: 0.1rem;s */
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}

.form-header p {
  color: #4a5568;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  font-size: 1.3rem;
  color: #4a5568;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
  padding: 1.6rem 1.5rem;
  width: 37rem;
  background-color: #edf2f6;
  border: none;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  font-size: 1.6rem;
  color: #1a202c;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(194, 194, 194);
  font-weight: 300;
}

input:not(:last-child) {
  margin-bottom: 3rem;
}

select {
  padding: 1.5rem 0.5rem;
  width: 37rem;
  background-color: #edf2f6;
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  font-size: 1.6rem;
  color: #747a86;
  margin-bottom: 3rem;
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: none;
}

input[type="submit"] {
  padding: 1.6rem 1rem;
  width: 37rem;
  background-color: rgb(8, 62, 158);
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-bottom-left-radius: 0rem;
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #062b6f;
}

.form-section a {
  margin-bottom: 4rem;
  text-decoration: none;
  color: #fff;
}

.form-section a:hover {
  color: #747a86;
}

@media only screen and (max-width: 470px) {
  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="email"],
  input[type="submit"],
  select {
    width: 30rem;
  }

  .form-header h2 {
    font-size: 2rem;
  }

  .form-header p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 410px) {
  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="email"],
  input[type="submit"],
  select {
    width: 26rem;
  }

  .form-header h2 {
    font-size: 2rem;
  }

  .form-header p {
    font-size: 1rem;
  }
}
